@import url(reset.css);

.outer {
	font-size: 0;
}

div {
	width: 200px;
	display: inline-block;
	color: white;
	vertical-align: top;
	font-size: 16px;
}

.one {
	height: 200px;
	background-color: beige;
}

.two {
	height: 200px;
	background-color: gold;
}

img {
	width: 100px;
}

a {
	width: 100px;
	height: 100px;
	display: block;
}