@import url(reset.css);

.main {
	height: 300px;
	background-color: gold;
	color: white;
}

.main.one {
	font-size: 30px;
}


.main.two {
	font-size: 40px;
}

a.three {
	color: green;
}

.third + li {
	color: red;
}
