@import url(reset.css);

.window {
	width: 600px;
	height: 300px;
	border: 5px solid black;
	box-sizing: border-box;
	margin: 10px;
}

main {
	display: flex;
	justify-content: space-around;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 102px;
	padding-bottom: 102px;

}

.column {
	display: flex;
	flex-direction: column;
}