@import url(reset.css);

	

fieldset {
	width: 25%;
	min-height: 350px;
	background-color: blue;
	position: absolute;
	left: 100px;
	top: 120px;
	border-radius: 30px;
}

input, textarea, label {
	display: block;
	width: 80%;
	margin: auto;
	font-size: 2.8vh;
	}

input {
	height:35px;
}

input, textarea {
	background-color: lightgrey;
	border: none;
	border-radius: 3px;
}

label {
	line-height: 1.5rem;
	font-size: 2.8vh;
}

label[for="fio"]{
	margin-top: 45px;
}

input[type="submit"]{
	width: 30%;
	margin-top: 20px;
	position: absolute;
	left: 30px;
}

input:focus, textarea:focus {
	outline: none;
}

input::-webkit-input-placeholder {
	 font-size: 2.6vh; 
}

textarea::-webkit-input-placeholder {
	 font-size: 2.6vh; 
}