@font-face {
	src: url(../font/Usually-font-Bold.otf);
	font-family: "usually";
	font-weight: bold;
}

.divheader h1 {
	font-size: 50px;
	font-weight: 700;
	font-family: "usually";
}

.text1 p {
	font-family: "usually";
}

.text2 p {
	font-family: "usually";
}