@import url(reset.css);

.outer {
	height: 600px;
	border: 1px solid black;
	position: relative;
}

.first, .second, .third {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.first {
	background-color: #93c572;
	position: absolute;
	bottom: 0;
	right: 0;
}


.second {
	background-color: beige;
	position: absolute;
	bottom: 150px;
	right: 0;
	z-index: 1;
}

.third {
	background-color: #f6faf3;
	position: absolute;
	bottom: 300px;
	right: 0;
}

