.linear {
	width: 300px;
	height: 200px;
	background-image: linear-gradient(45deg, beige, gold);
}

.radial {
	width: 500px;
	height: 500px;
	background-image: radial-gradient(gold, beige);
}

.shadow {
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 10px beige;
	border-radius: 5px;
}