@import url(reset.css);

section {
	height: 600px;
	border: 1px solid black;
}

.inner {
	width: 50px;
	height: 50px;
}

.static .inner {
	background-color: beige;
	position: static;
	margin: 20px;
}


.relative .inner {
	background-color: gold;
	position: relative;
	top: 50px;
}

.absolute {
	position: relative;
}

.absolute .inner {
	background-color: grey;
	position: absolute;
	bottom: 0;
	right: 0;
}


.fixed .inner {
	background-color: #dbecd0;
	position: fixed;
	bottom: 200px;
}